.side button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  background-color: #383636;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.side button:hover {
  background-color: rgb(26, 188, 177);
  transform: translateY(-2px);
}

.side button:active {
  transform: translateY(0);
  background-color: rgb(26, 188, 177);
}